@color_blue: #2aacc8;
@color_blue_light: #81e4ed;
@color_grey: #e8ebf1;
@color_text_grey: #363636;

//Imgage's paths
@img_path: '../img';

//Mixins
.arrow(@width_height; @deg) {
    display: inline-block;
    width: @width_height;
    height: @width_height;
    transform: rotate(@deg);
}

.preview_link() {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 25px;
    vertical-align: middle;
}

.ie11(@content) {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content();
    }
}

.ie10(@content) {
    @media screen and (min-width:0\0) {
        @content();
    }
}