@import "project.less";
@import "smart-grid.less";

.reset();

html {
    height: 5000px;
}

body {
    max-width: 1600px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.wrapper {
    .wrapper();
}

.wrapper__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
}


.header {
    height: 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: #e8ebf1;
}

.logo {
    font-family: Lato, sans-serif;
    font-size: 50px;

    span {
        color: #000000;
        font-weight: 900;

        +span {
            color: @color_blue;
            font-weight: 400;
        }
    }
}

.logo__inner {
    margin-left: -2px;
    padding-bottom: 10px;
}

.nav {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    flex-basis: 621px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

    &__inner {
        padding: 3px 3px 0 0;

    }
}

.nav__link {
    text-transform: uppercase;
    color: #000000;

    .arrow {
        margin-left: 10px;
        margin-bottom: 5px;
        color: #000000;
    }

    &_2 {
        margin-left: 15px;
    }

    &_3 {
        margin-left: 16px;
    }

    &_5 {
        margin-right: 15px;
    }

    &_6 {
        margin-right: -1px;
    }
}

.nav__link_blue {
    color: @color_blue;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 3.5px;
    height: 3.5px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

.slider-container {
    padding-top: 20px;
    min-height: 480px;
    background: @color_blue_light;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #dc5735;

    &__text {
        &:extend(.logo);
        padding: 0 0 19px 62px;
        flex-basis: 294px;
        font-weight: 700;
        color: #ffffff;
    }
}

.wrapper-circles {
    display: flex;
    justify-content: space-between;
    width: 141px;

    &__inner {
        margin: 0 auto;
        margin-top: 12px;
    }

    &__circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #71a3a7;
    }

    &__circle_white {
        background: #ffffff;
    }
}

.about-info {
    min-height: 299px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: @color_grey;
}

.wrapper__info-block-container {
    padding-top: 60px;
}

.info-block-container {
    .info-block:nth-child(1) {
        .info-header {
            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 1px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 1px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(2) {
        .info-header {
            &__logo {
                margin-left: 3px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 4px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 3px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(3) {
        .info-header {
            &__logo {
                margin-left: 6px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 6px;
            margin-right: 3px;

            span {
                margin-left: 4px;
            }
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 6px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(4) {
        .info-header {
            &__logo {
                margin-left: 9px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 11px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 11px;
        }
    }
}

.info-block-container {
    .row-flex();
    font-size: 13px;
}

.info-block {
    .col();
    .size(3);
    .size-md(6);
    .size-xs(12);
    margin-bottom: 40px;

    &-text {
        line-height: 20px;
    }

    &__info-block-text {
        margin-top: 14px;
        height: 1px;
        min-height: 120px;
        .md(min-height, 100px);
    }

    &-meta {
        display: flex;
        align-items: center;

        &__arrow {
            width: 3.5px;
            height: 3.5px;
            border-top: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
        }

        &__link {
            margin-left: 9px;
            color: @color_blue
        }
    }
}

.info-header {
    display: flex;
    align-items: center;

    &__logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: @color_blue;

        &_pen,
        &_screen,
        &_list,
        &_plane {
            &:after {
                content: "";
                display: block;
                width: 40px;
                height: 40px;
            }

        }

        &_pen {
            &:after {
                background: url("@{img_path}/icons/icon-pen.png") no-repeat;
                background-position: center;
            }
        }

        &_screen {
            &:after {
                background: url("@{img_path}/icons/icon-screen.png") no-repeat;
                background-position: center;
            }
        }

        &_list {
            &:after {
                background: url("@{img_path}/icons/icon-list.png") no-repeat;
                background-position: center;
            }
        }

        &_plane {
            &:after {
                background: url("@{img_path}/icons/icon-plane.png") no-repeat;
                background-position: 10px center;
            }
        }
    }

    &__text {
        margin-left: 20px;
    }
}

.works {
    margin-top: 20px;

    &-header {
        display: flex;
        justify-content: space-between;

        &-meta {
            margin-left: 2px;
            display: flex;
            flex-basis: 156px;
            justify-content: space-between;

            &__cursor {
                display: inline-block;
                width: 14px;
                height: 24px;
                background: url("@{img_path}/icons/icon-arrow.png") no-repeat;
            }

            &__text {
                margin-top: 6px;
            }
        }
    }
}

.toggle {
    flex-basis: 51px;
    text-align: center;
}

.toggle__button-left {
    margin-right: 2px;
}

.toggle__button-right {
    margin-left: 3px;
}

.button-left {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: @color_blue_light;

    &__arrow {
        .arrow(5px; -45deg);
        border-top: 2px solid #434343;
        border-left: 2px solid #434343;
    }
}

.button-right {
    &:extend(.button-left);

    &__arrow {
        .arrow(5px; 45deg);
        border-top: 2px solid #434343;
        border-right: 2px solid #434343;
    }
}

.works {
    &-gallery {
        .row-flex();
        .md(justify-content, space-evenly);
        justify-content: space-between;
        max-width: 1000px;
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;

        &__meta {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 81px;
            opacity: 0;
            background: @color_blue;

            &:hover {
                opacity: 1;
            }
        }

        .works-gallery__image {
            position: relative;
            display: flex;
            max-width: 300px;
            .col();
            .size-md(6);
            .size-xs(12);

            margin-left: 0;
            margin-right: 0;
            .md(margin-left, 15px);
            .md(margin-right, 15px);
            .md(margin-bottom, 30px);

            >img {
                .md(width, 300px)
            }
        }
    }

    &__works-gallery {
        margin: 0 auto;
        margin-top: 14px;
        padding-top: 20px;
        padding-bottom: 39px;
    }
}

.works-gallery__preview,
.works-gallery__link {
    .preview_link();
}

.works-gallery__preview {
    .md(left, 80px);
    left: 70px;
    background: url("@{img_path}/icons/icon-preview.png") no-repeat;
}

.works-gallery__link {
    .md(right, 80px);
    right: 45px;
    background: url("@{img_path}/icons/icon-link.png") no-repeat;
}

.offering-block {
    .row-flex();
    justify-content: space-between;

    &__inner {
        margin-top: 22px;
    }
}

.testimonials {
    .col();
    .size(6);
    .size-md(12);

    max-width: 426px;
    font-size: 14px;
    line-height: 24px;

    &__text {
        margin-left: 1px;
        margin-top: 11px;
        margin-bottom: 23px;
    }

    &__title {
        margin-left: 1px;
        font-weight: bold;
        font-style: italic;
    }
}

.clients {
    .col();
    .size(6);
    .size-md(12);

    max-width: 481px;
}

.header-meta {
    display: flex;

    &__icon {
        margin-right: 15px;
        display: inline-block;
        width: 24px;

        &_comments {
            height: 23px;
            background: url("@{img_path}/icons/icon-comments.png") no-repeat;
        }

        &_clients {
            height: 20px;
            background: url("@{img_path}/icons/icon-clients.png") no-repeat;

        }
    }
}

.clients .header-meta__text {
    margin-top: 4px;
}

.clients .header-meta__icon {
    margin-left: 2px;
}

.clients-list__inner {
    margin-top: 16px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        max-height: 101px;
    }

    // img{

    // }
}