@import "project.less";
@import "smart-grid.less";

.reset();

body {
    max-width: 1600px;
    font-family: Arial, sans-serif;
}

.wrapper {
    .wrapper();
}

.wrapper__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
}


.header {
    height: 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #e8ebf1;
}

.logo {
    font-family: Lato, sans-serif;
    font-size: 50px;

    span {
        color: #000000;
        font-weight: 900;

        +span {
            color: @color_blue;
            font-weight: 400;
        }
    }
}

.logo__inner {
    margin-left: -2px;
    padding-bottom: 10px;
}

.nav {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    flex-basis: 621px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav__inner {
    padding: 3px 3px 0 0;

}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
        .arrow{
            margin-left: 10px;
            margin-bottom: 5px;
            color: #000000;
        }
        &_2 {
            margin-left: 15px;
        }
        &_3 {
            margin-left: 16px;
        }    
        &_5 {
            margin-right: 15px;
        }  
        &_6 {
            margin-right: -1px;
        } 
    }
    
.nav__link_blue {
    color: @color_blue;
}
.arrow{
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px; 
    border-right: 2px solid; 
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

.slider-container {
    padding-top: 20px;
    min-height: 480px;
    background: @color_blue_light;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 440px;
    background: #dc5735;  
}

.slider__text {
    &:extend(.logo);
    padding-left: 61px;
    flex-basis: 294px;
    font-weight: 700;
    color: #ffffff;
}

.slider__img-cup {
    position: absolute;
    left: 45%;
    height: 327px;
}

.wrapper-circles {
    display: flex;
    justify-content: space-between;
    width: 141px;
}

.wrapper-circles__inner {
    margin: 0 auto;
    margin-top: 12px;
}

.wrapper-circles__circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #71a3a7;
}

.wrapper-circles__circle_white {
    background: #ffffff;
}