@import "project.less";
@import "smart-grid.less";

.reset();

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}


.wrapper {
    .wrapper();
}

.header {

    .ie11({
            height: 70px;
        });

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(232, 235, 241, 1);
    transition: background-color .2s ease,
    padding-top .2s ease,
    padding-bottom .2s ease;
    z-index: 5;

    &_tiny {
        padding: 0px 0px;
        background: rgba(232, 235, 241, 0.95);
    }
}

.header_tiny .logo {
    line-height: 70px;
    font-size: 40px;
}

.header_tiny .logo__inner {
    padding-bottom: 0;
    line-height: 70px;
    font-size: 40px;
}

.header-block {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 768px) and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        justify-content: flex-start;
    }
}

.logo {
    font-family: Lato, sans-serif;
    font-size: 50px;
    transition: .2s ease;

    span {
        color: #000000;
        font-weight: 900;

        +span {
            color: @color_blue;
            font-weight: 400;
        }
    }

    &__inner {
        margin-left: -2px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
}

.menu {
    width: 621px;

    .ie10({width: 75%;});

    &__inner {
        margin-right: 15px;
        padding: 3px 3px 0 0;
    }
}

.menu__box {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;


    .ie10({
        display: block;
        text-align: right;
    });
}

.menu__link {
    display: inline-block;
    text-transform: uppercase;
    color: #000000;

    .ie10({
        margin-right: 2.4vw;

        &:last-child {
            margin-right: 0px;
        }
    });

    .arrow {
        margin-left: 10px;
        margin-bottom: 5px;
        color: #000000;
    }

    &_2 {
        margin-left: 15px;
    }

    &_3 {
        margin-left: 16px;
    }

    &_5 {
        margin-right: 15px;
    }

    &_6 {
        margin-right: -1px;
    }
}

.menu__item_blue {
    color: @color_blue;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 3.5px;
    height: 3.5px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
}

//Бургер-меню 

@media (max-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .logo__inner {
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-bottom: 0;
        min-height: 70px;
    }
}

@media (max-width: 768px) {

    .header {
        &-block {
            padding: 0;
        }
    }

    div.logo {
        &__inner {
            position: absolute;
            right: 15px;
            margin: 0;
            padding-right: 0;
        }
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        left: 26px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 2;

    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 3px;

        background: #2aacc8;

        transition: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__btn_active {
        span {
            transform: rotate(45deg);

            &::before {
                top: 0;
                transform: rotate(0);
            }

            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

    .menu__btn_active ~ .menu__box {
        left: 0;
        visibility: visible;
    }

    nav.menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;

        width: 300px;
        height: 100%;

        margin-left: -15px;
        padding: 90px 0;

        background: rgba(232, 235, 241, 1);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition: .25s;
        z-index: 1;
    }

    a.menu__item {
        display: block;
        margin: 0;
        padding: 12px 40px;

        font-size: 20px;
        font-weight: 600;

        transition: .25s;

        &_blue {
            color: #000000;
        }

        .arrow {
            display: none;
        }
    }
}

//Конец бургера

.wrapper-container {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

.slider-container {
    padding-top: 20px;
    max-height: 480px;
    background: @color_blue_light;

    &__inner {
        padding-bottom: 14px;
        margin-top: 121px;
    }
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #dc5735;
    

    &__text {
        flex: 0 1 auto;
        &:extend(.logo);
        padding: 0 1.9% 19px 6.2%;
        max-width: 294px;
        font-weight: 700;
        color: #ffffff;

        .md(font-size, 4vw);
    }

    &__img {
        flex: 0 1 auto;
        max-height: 440px;
    }

    img {
        width: 100%;
    }
}

.wrapper-circles {
    display: flex;
    justify-content: space-between;
    width: 141px;

    &__inner {
        margin: 0 auto;
        margin-top: 12px;
    }

    &__circle {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #71a3a7;
    }

    &__circle_white {
        background: #ffffff;
    }
}

.about-info {
    min-height: 299px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: @color_grey;
}

.wrapper__info-block-container {
    padding-top: 60px;
}

.info-block-container {
    .info-block:nth-child(1) {
        .info-header {
            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 1px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 1px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(2) {
        .info-header {
            &__logo {
                margin-left: 3px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 4px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 3px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(3) {
        .info-header {
            &__logo {
                margin-left: 6px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 6px;
            margin-right: 3px;

            span {
                margin-left: 4px;
            }
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 6px;
        }
    }
}

.info-block-container {
    .info-block:nth-child(4) {
        .info-header {
            &__logo {
                margin-left: 9px;
            }

            &__text {
                padding-bottom: 5px;
            }
        }

        .info-block-text {
            margin-left: 11px;
            margin-right: 3px;
        }

        .info-block-meta {
            margin-top: 2px;
            margin-left: 11px;
        }
    }
}

.info-block-container {
    .row-flex();
    font-size: 13px;
}

.info-block {
    .col();
    .size(3);
    .size-md(6);
    .size-xs(12);
    margin-bottom: 40px;

    &-text {
        line-height: 20px;
        color: @color_text_grey;
    }

    &__info-block-text {
        margin-top: 14px;
        height: 1px;
        min-height: 120px;
        .md(min-height, 100px);
    }

    &-meta {
        display: flex;
        align-items: center;

        &__arrow {
            display: inline-block;
            width: 3.5px;
            height: 3.5px;
            border-top: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
        }

        &__link {
            margin-left: 9px;
            color: @color_blue;
        }
    }
}

.info-header {
    display: flex;
    align-items: center;

    &__logo {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: @color_blue;

        &_pen,
        &_screen,
        &_list,
        &_plane {
            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 40px;
            }

        }

        &_pen {
            &::after {
                background: url("@{img_path}/icons/icon-pen.png") no-repeat;
                background-position: center;
            }
        }

        &_screen {
            &::after {
                background: url("@{img_path}/icons/icon-screen.png") no-repeat;
                background-position: center;
            }
        }

        &_list {
            &::after {
                background: url("@{img_path}/icons/icon-list.png") no-repeat;
                background-position: center;
            }
        }

        &_plane {
            &::after {
                background: url("@{img_path}/icons/icon-plane.png") no-repeat;
                background-position: 10px center;
            }
        }
    }

    &__text {
        margin-left: 20px;
    }
}

.works {
    margin-top: 20px;

    &-header {
        display: flex;
        justify-content: space-between;

        &-meta {
            margin-left: 2px;
            display: flex;
            flex-basis: 156px;
            justify-content: space-between;

            &__cursor {
                display: inline-block;
                width: 14px;
                height: 24px;
                background: url("@{img_path}/icons/icon-arrow.png") no-repeat;
            }

            &__text {
                margin-top: 6px;
            }
        }
    }
}

.toggle {
    flex-basis: 51px;
    text-align: center;
}

.toggle__button-left {
    margin-right: 2px;
}

.toggle__button-right {
    margin-left: 3px;
}

.button-left {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: @color_blue_light;

    &__arrow {
        .arrow(5px; -45deg);
        border-top: 2px solid #434343;
        border-left: 2px solid #434343;
    }
}

.button-right {
    &:extend(.button-left);

    &__arrow {
        .arrow(5px; 45deg);
        border-top: 2px solid #434343;
        border-right: 2px solid #434343;
    }
}

.works {
    &-gallery {
        .row-flex();
        .md(justify-content, center);
        justify-content: space-between;
        max-width: 1000px;
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;

        &__meta {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 81px;
            opacity: 0;
            background: @color_blue;

            &:hover {
                opacity: 1;
            }
        }

        .works-gallery__image {
            position: relative;
            display: flex;
            max-width: 300px;
            .col();
            .size-md(6);
            .size-xs(12);

            margin-left: 0;
            margin-right: 0;
            .md(margin-left, 15px);
            .md(margin-right, 15px);
            .md(margin-bottom, 30px);

            >img {
                .md(width, 100%);
            }
        }
    }

    &__works-gallery {
        margin: 0 auto;
        margin-top: 14px;
        padding-top: 20px;
        padding-bottom: 39px;
    }
}

.works-gallery__preview,
.works-gallery__link {
    .preview_link();
}

.works-gallery__preview {
    .md(left, 80px);
    left: 70px;
    background: url("@{img_path}/icons/icon-preview.png") no-repeat;
}

.works-gallery__link {
    .md(right, 80px);
    right: 45px;
    background: url("@{img_path}/icons/icon-link.png") no-repeat;
}

.offering-block {
    &__inner {
        .row-flex();
        justify-content: space-between;
        .md(justify-content, center);
    }
}

.wrapper__offering-block {
    margin: 22px auto 0 auto;
    .row-flex();
    justify-content: space-between;
    .md(justify-content, center);
}

.testimonials {
    .col();
    .size(6);
    .size-md(12);
    .md(max-width, 481px);

    max-width: 426px;
    font-size: 14px;
    line-height: 24px;

    &__text {
        margin-left: 1px;
        margin-top: 11px;
        margin-bottom: 23px;
        color: @color_text_grey;
    }

    &__title {
        margin-left: 1px;
        font-weight: bold;
        font-style: italic;
        color: @color_text_grey;
    }
}

.clients {
    .col();
    .size(6);
    .size-md(12);
    .md(margin-top, 40px);

    max-width: 481px;
}

.header-meta {
    display: flex;

    &__icon {
        margin-right: 15px;
        display: inline-block;
        width: 24px;

        &_comments {
            height: 23px;
            background: url("@{img_path}/icons/icon-comments.png") no-repeat;
        }

        &_clients {
            height: 20px;
            background: url("@{img_path}/icons/icon-clients.png") no-repeat;

        }
    }
}

.clients .header-meta__text {
    margin-top: 4px;
}

.clients .header-meta__icon {
    margin-left: 2px;
}

.clients-list__inner {
    margin-top: 16px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        max-height: 101px;
        margin: auto;
    }
}

.download-block {
    display: flex;
    border: 1px solid @color_blue_light;
    background-color: #e8fcfe;

    &__container {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        max-width: 998px;
    }

    &__inner {
        display: flex; 
        .md(flex-wrap, wrap);
        justify-content: space-between;
        padding: 30px 37px 31px 31px;
        .sm(padding, 30px 15px 20px 15px);
        width: 100%;
    }

    &__text {
        .md(max-width, 100%);
        .md(text-align, justify);
        max-width: 608px;
        font-size: 16px;
        line-height: 26px;
        color: @color_text_grey;
    }
}

.button {
    max-width: 241px;

    &__inner {
        .md(align-self, center);
        .md(margin, 40px auto 0px);
        margin-top: 9px;
        margin-left: 20px;
    }

    &__link {
        position: relative;
        display: flex;
        padding: 20px 20px 17px 69px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #0d0707;
        background: @color_blue;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
        background-image: linear-gradient(to top, @color_blue 0%, #60cede 15%, #72dae6 50%, @color_blue_light 100%);
        border: 1px solid @color_blue;
        border-radius: 9px;
    }

    &__icon {
        position: absolute;
        left: 18px;
        bottom: 18px;
        width: 28px;
        height: 25px;
        background: url("@{img_path}/icons/icon-download.png") no-repeat;
    }
}

.text {
    color: @color_text_grey;
    font-size: 14px;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    background: @color_grey;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__inner {
        padding-top: 29px;
    }
}

.footer-about {
    width: 234px;

    .sm(display, none);

    &__inner {
        margin-right: -10px;
    }


    &__text {
        line-height: 17px;
        margin-top: 21px;
    }
}

.footer-explore {
    width: 71px;

    &__footer-nav {
        margin-top: 3px;
    }
}

.footer-browse {
    &__inner {
        margin-right: -12px;
    }

    width: 105px;

    &__footer-nav {
        margin-top: 3px;
    }
}

.footer-contact {
    width: 136px;

    .sm(margin, 0);
    .sm(flex-basis, 100px);


    &__inner {
        margin-right: -26px;
    }

    &__text {
        margin-top: 17px;

        &_mg1 {
            font-weight: bold;
        }
    
        .span-mg-t {
            display: inline-block;
        }
    }
}


.footer-social {
    width: 193px;

    .sm(flex-grow, 1);

    h2 {
        margin-left: 13px;
    }
}

.footer-nav {
    line-height: 26px;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    display: inline-block;
    width: 53px;
    height: 51px;

    &_fb {
        background: url("@{img_path}/social/facebook.png") no-repeat;
        margin-top: 17px;
        margin-left: 4px;
    }

    &_dr {
        background: url("@{img_path}/social/dribbble.png") no-repeat;
        margin-top: 17px;
    }

    &_pt {
        background: url("@{img_path}/social/pinterest.png") no-repeat;
        margin-top: 17px;
        margin-right: -4px;
    }

    &_ln {
        background: url("@{img_path}/social/linkedin.png") no-repeat;
        margin-top:5px;
        margin-left: 4px;
    }

    &_sk {
        background: url("@{img_path}/social/skype.png") no-repeat;
        margin-top:5px;
    }

    &_sh {
        background: url("@{img_path}/social/share.png") no-repeat;
        margin-top:5px;
        margin-right: -4px;
    }
}

@media (max-width: 900px) {
    .footer-container {
        justify-content: space-between;
    }

    .footer-about,
    .footer-explore,
    .footer-browse {
        flex-basis: 25%;
    }

    .footer-contact,
    .footer-social {
        flex-basis: 50%;
        margin-top: 40px;
    }

    .icon {
        margin: 17px 0 0 0;
    }
}

.footer-site-info {
    &__inner {
        margin-top: 22px;
        margin-left: 1px;
        padding-bottom: 35px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__text {
        max-width: 641px;
        font-size: 13px;
        line-height: 18px;
        color: @color_text_grey;
    }

    &__logo {
        margin-top: 2px;
        margin-right: -2px;
        padding-left: 30px;
    }
}

@media (max-width: 852px) {
    .footer-site-info {
        justify-content: center;
    }

    .footer-site-info__logo {
        padding: 20px 0 0 0;
    }
}

